## A3


Descriptive Statistics - Measures of Central Tendency and variability

Perform the following operations on any open source dataset (e.g., data.csv)

1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for
a dataset (age, income etc.) with numeric variables grouped by one of the qualitative
(categorical) variable. For example, if your categorical variable is age groups and
quantitative variable is income, then provide summary statistics of income grouped by the
age groups. Create a list that contains a numeric value for each response to the categorical
variable.

2. Write a Python program to display some basic statistical details like percentile, mean,
standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-verginica’
of iris.csv dataset.

Provide the codes with outputs and explain everything that you do in this step.

**Link of Dataset**

NBA: https://www.kaggle.com/datasets/vsharma19/nbacsv

Iris: https://www.kaggle.com/datasets/saurabh00007/iriscsv

**1) Import Required Libraries**

pandas → data handling

numpy → numerical operations

In [321]:
import numpy as np
import pandas as pd

## 1

**2) Load the Dataset**

In [322]:
# Load the NBA dataset
df1 = pd.read_csv("nba.csv")

In [323]:
# Display first 5 rows
df1.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

**3) Understand Dataset Structure**

In [324]:
# Dimensions of dataset
df1.shape

(458, 9)

In [325]:
# Datatypes of each column
df1.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [326]:
# Display info of dataset
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [327]:
# Display statistical summary
df1.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

**4) Check for missing values**

In [328]:
# Check for missing values
df1.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

In [329]:
# Percentage of missing values
df1.isnull().mean() * 100

Name         0.218341
Team         0.218341
Number       0.218341
Position     0.218341
Age          0.218341
Height       0.218341
Weight       0.218341
College     18.558952
Salary       2.620087
dtype: float64

**5) Handle Missing Values**

In [330]:
df1['Number'] = df1['Number'].fillna(df1['Number'].mean())
df1['Age'] = df1['Age'].fillna(df1['Age'].mean())
df1['Weight'] = df1['Weight'].fillna(df1['Weight'].mean())
df1['Salary'] = df1['Salary'].fillna(df1['Salary'].mean())

In [331]:
# Check for missing values
df1.isnull().sum()

Name         1
Team         1
Number       0
Position     1
Age          0
Height       1
Weight       0
College     85
Salary       0
dtype: int64

**Group By**

**1) Group By Category: Height & Numerical: Weight**

In [332]:
# Group the dataset by Height
height_groups = df1.groupby("Height")

# Display first 5 rows from each height group
height_groups.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7.730337e+06
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6.796117e+06
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,4.842684e+06
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1.148640e+06
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5.000000e+06
...,...,...,...,...,...,...,...,...,...
275,Alexis Ajinca,New Orleans Pelicans,42.0,C,28.0,7-2,248.0,NaN,4.389607e+06
302,Boban Marjanovic,San Antonio Spurs,40.0,C,27.0,7-3,290.0,NaN,1.200000e+06
322,Walter Tavares,Atlanta Hawks,22.0,C,24.0,7-3,260.0,NaN,1.000000e+06
329,Spencer Hawes,Charlotte Hornets,0.0,PF,28.0,7-1,245.0,Washington,6.110034e+06
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2.900000e+06

In [333]:
# Get statistical summary of Weight grouped by Height
height_groups["Weight"].describe()

        count        mean        std    min     25%    50%     75%    max
Height
5-11      3.0  181.666667  11.547005  175.0  175.00  175.0  185.00  195.0
5-9       1.0  185.000000        NaN  185.0  185.00  185.0  185.00  185.0
6-0      10.0  183.500000  13.074572  161.0  175.00  184.0  188.75  205.0
6-1      16.0  180.750000  11.174375  165.0  172.75  177.0  187.00  205.0
6-10     47.0  244.872340  15.613006  210.0  235.00  245.0  251.00  289.0
6-11     40.0  247.250000  19.986855  200.0  234.25  245.0  261.25  307.0
6-2      16.0  185.375000   9.569918  165.0  180.00  185.0  191.25  200.0
6-3      33.0  192.575758   8.329279  172.0  189.00  190.0  200.00  208.0
6-4      29.0  203.931034  10.885544  185.0  195.00  205.0  213.00  220.0
6-5      32.0  203.718750  12.596042  179.0  195.00  205.0  210.00  230.0
6-6      42.0  211.190476  14.204496  175.0  203.50  211.0  220.00  245.0
6-7      45.0  217.422222  14.962816  185.0  208.00  220.0  226.00  260.0
6-8      43.0  228.046512  15.198611  198.0  218.00  228.0  240.00  260.0
6-9      59.0  233.966102  16.074145  186.0  222.50  235.0  249.00  260.0
7-0      27.0  251.407407  15.102876  220.0  240.00  253.0  262.50  280.0
7-1       7.0  252.142857  12.198751  240.0  245.00  245.0  257.50  275.0
7-2       3.0  254.333333  13.650397  245.0  246.50  248.0  259.00  270.0
7-3       4.0  261.500000  20.872630  240.0  252.00  258.0  267.50  290.0

**2) Group By Category: Team & Numerical: Salary**

In [334]:
# Group the dataset by the 'Team' column
team_groups = df1.groupby("Team")

# Display the first 5 rows from each team group
team_groups.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7.730337e+06
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6.796117e+06
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,4.842684e+06
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1.148640e+06
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5.000000e+06
...,...,...,...,...,...,...,...,...,...
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4.775000e+06
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2.658240e+06
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9.463484e+06
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,NaN,3.777720e+06
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,1.200000e+07

In [335]:
# Get statistical summary of Salary for each team
team_groups["Salary"].describe()

,count,mean,std,min,25%,50%,75%,max
Team,,,,,,,,
Atlanta Hawks,15.0,4.860197e+06,5.194508e+06,525093.0,1152260.00,2.854940e+06,6.873240e+06,18671659.0
Boston Celtics,15.0,4.225583e+06,3.036396e+06,1148640.0,1994760.00,3.425510e+06,5.898058e+06,12000000.0
Brooklyn Nets,15.0,3.501898e+06,5.317817e+06,134215.0,947276.00,1.335480e+06,2.512675e+06,19689000.0
Charlotte Hornets,15.0,5.222728e+06,4.538601e+06,189455.0,1543138.00,4.204200e+06,6.665702e+06,13500000.0
Chicago Bulls,15.0,5.785559e+06,6.251088e+06,525093.0,1203290.50,2.380440e+06,7.974380e+06,20093064.0
Cleveland Cavaliers,15.0,7.455425e+06,7.484116e+06,111196.0,1211638.00,4.950000e+06,1.162482e+07,22970500.0
Dallas Mavericks,15.0,4.746582e+06,5.030279e+06,525093.0,1185783.00,3.950313e+06,5.289487e+06,16407500.0
Denver Nuggets,15.0,4.330974e+06,4.165468e+06,258489.0,1647099.50,3.000000e+06,4.593842e+06,14000000.0
Detroit Pistons,15.0,4.477884e+06,4.668478e+06,111444.0,1711452.50,2.891760e+06,5.635000e+06,16000000.0
Golden State Warriors,15.0,5.924600e+06,5.664282e+06,289755.0,1201462.00,3.815000e+06,1.154062e+07,15501000.0
Houston Rockets,15.0,5.018868e+06,6.414749e+06,200600.0,973638.00,2.288205e+06,7.339758e+06,22359364.0
Indiana Pacers,15.0,4.450122e+06,4.584514e+06,211744.0,1053513.00,4.000000e+06,5.697112e+06,17120106.0
Los Angeles Clippers,15.0,6.323643e+06,7.600225e+06,111444.0,1024164.00,3.110796e+06,8.367500e+06,21468695.0
Los Angeles Lakers,15.0,4.784695e+06,6.835688e+06,525093.0,896167.50,1.724250e+06,5.161144e+06,25000000.0
Memphis Grizzlies,18.0,5.328979e+06,4.556591e+06,700902.0,1939075.00,4.842684e+06,5.387635e+06,19688000.0
Miami Heat,15.0,6.146736e+06,7.285680e+06,261894.0,947276.00,2.854940e+06,7.847668e+06,22192730.0
Milwaukee Bucks,16.0,4.350220e+06,4.875071e+06,295327.0,1483589.00,2.254167e+06,5.514330e+06,16407500.0
Minnesota Timberwolves,14.0,4.610884e+06,3.977783e+06,947276.0,1590540.00,3.049180e+06,5.744910e+06,12700000.0
New Orleans Pelicans,19.0,4.355304e+06,4.537874e+06,55722.0,981348.50,2.850000e+06,7.785365e+06,15514031.0
New York Knicks,16.0,4.581494e+06,5.952487e+06,30888.0,921721.75,2.225421e+06,4.949493e+06,22875000.0
Oklahoma City Thunder,15.0,6.251020e+06,6.632400e+06,222888.0,1742280.00,3.344000e+06,8.694215e+06,20158622.0
Orlando Magic,14.0,4.297248e+06,3.068412e+06,845059.0,2311302.00,3.956580e+06,5.144390e+06,11250000.0
Philadelphia 76ers,15.0,2.389039e+06,1.953024e+06,525093.0,947276.00,1.074169e+06,4.020240e+06,6500000.0
Phoenix Suns,15.0,4.229676e+06,5.022561e+06,55722.0,964312.00,2.041080e+06,5.500000e+06,13500000.0
Portland Trail Blazers,15.0,3.220121e+06,2.392741e+06,525093.0,1181398.00,2.854940e+06,4.626144e+06,8042895.0
Sacramento Kings,15.0,4.778911e+06,4.701792e+06,525093.0,998384.50,3.156600e+06,6.880303e+06,15851950.0
San Antonio Spurs,15.0,5.629516e+06,6.396804e+06,200600.0,1045078.00,2.814000e+06,8.750000e+06,19689000.0
Toronto Raptors,15.0,4.741174e+06,4.195943e+06,245177.0,1683000.00,2.900000e+06,6.634338e+06,13600000.0
Utah Jazz,15.0,4.204006e+06,4.467878e+06,900000.0,1262160.00,2.433333e+06,4.276360e+06,15409570.0
Washington Wizards,15.0,5.088576e+06,4.869388e+06,200600.0,1510421.00,4.000000e+06,6.847337e+06,15851950.0

**3) Group By Category: Age Group (Created) & Numerical: Salary**

In [336]:
# Define the bin ranges for age grouping
bins = [19, 25, 31, 36, 40]

# Define labels for each age group
labels = ["19-24", "25-30", "31-35", "36-40"]

# Create a new column 'AgeGroup' by categorizing Age into bins
df1["AgeGroup"] = pd.cut(df1["Age"], bins=bins, labels=labels)

# Display the updated dataset with the new AgeGroup column
df1

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,AgeGroup
0,Avery Bradley,Boston Celtics,0.000000,PG,25.000000,6-2,180.000000,Texas,7.730337e+06,19-24
1,Jae Crowder,Boston Celtics,99.000000,SF,25.000000,6-6,235.000000,Marquette,6.796117e+06,19-24
2,John Holland,Boston Celtics,30.000000,SG,27.000000,6-5,205.000000,Boston University,4.842684e+06,25-30
3,R.J. Hunter,Boston Celtics,28.000000,SG,22.000000,6-5,185.000000,Georgia State,1.148640e+06,19-24
4,Jonas Jerebko,Boston Celtics,8.000000,PF,29.000000,6-10,231.000000,NaN,5.000000e+06,25-30
...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.000000,PG,26.000000,6-3,203.000000,Butler,2.433333e+06,25-30
454,Raul Neto,Utah Jazz,25.000000,PG,24.000000,6-1,179.000000,NaN,9.000000e+05,19-24
455,Tibor Pleiss,Utah Jazz,21.000000,C,26.000000,7-3,256.000000,NaN,2.900000e+06,25-30
456,Jeff Withey,Utah Jazz,24.000000,C,26.000000,7-0,231.000000,Kansas,9.472760e+05,25-30
457,NaN,NaN,17.678337,NaN,26.938731,NaN,221.522976,NaN,4.842684e+06,25-30

In [337]:
# Count how many players fall into each AgeGroup category
df1["AgeGroup"].value_counts()

AgeGroup
19-24    197
25-30    190
31-35     56
36-40     13
Name: count, dtype: int64

In [338]:
# Group the dataset by the 'AgeGroup' column
# observed=True ensures only the groups that actually appear in the data are shown
age_groups = df1.groupby("AgeGroup", observed=True)

In [339]:
# Get statistical summary of Salary for each AgeGroup
age_groups["Salary"].describe()

,count,mean,std,min,25%,50%,75%,max
AgeGroup,,,,,,,,
19-24,197.0,3.041840e+06,3.552554e+06,30888.0,947276.00,1.662360e+06,3533333.0,16407501.0
25-30,190.0,6.626023e+06,5.811580e+06,55722.0,1534210.50,4.842684e+06,10126209.0,22970500.0
31-35,56.0,5.113016e+06,5.283815e+06,200600.0,1323709.25,3.646250e+06,6350000.0,22875000.0
36-40,13.0,5.351744e+06,6.508388e+06,222888.0,947726.00,4.088019e+06,5250000.0,25000000.0

## 2

**2) Load the Dataset**

In [340]:
# Load the Iris dataset
df2 = pd.read_csv("Iris.csv")

In [341]:
# Display first 5 rows
df2.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

**3) Understand Dataset Structure**

In [342]:
# Dimmensions of dataset
df2.shape

(150, 6)

In [343]:
# Datatypes of each column
df2.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [344]:
# Display info of dataset
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [345]:
# Display statistical summary
df2.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

**4) Handle missing values**

In [346]:
# Check missing values
df2.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

**5) Group by Species**

In [347]:
# Filter rows where Species is 'Iris-setosa'
setosa = df2[df2['Species'] == 'Iris-setosa']

# Filter rows where Species is 'Iris-versicolor'
versicolor = df2[df2['Species'] == 'Iris-versicolor']

# Filter rows where Species is 'Iris-virginica'
virginica = df2[df2['Species'] == 'Iris-virginica']

**Group by Iris-setosa**

In [348]:
# Print descriptive statistics for Iris-setosa species
print("Iris-setosa statistics:")
print(setosa.describe())

Iris-setosa statistics:
             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

**Group by Iris-versicolor**

In [349]:
# Print descriptive statistics for Iris-versicolor species
print("\nIris-versicolor statistics:")
print(versicolor.describe())

Iris-versicolor statistics:
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000

**Group by Iris-virginica**

In [350]:
# Print descriptive statistics for Iris-virginica species
print("\nIris-virginica statistics:")
print(virginica.describe())

Iris-virginica statistics:
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000

**Displaying Each statistic individually**

In [351]:
num_cols = ["SepalLengthCm", "SepalWidthCm", "PetalLengthCm", "PetalWidthCm"]

In [352]:
# MINIMUM
setosa[num_cols].min()

SepalLengthCm    4.3
SepalWidthCm     2.3
PetalLengthCm    1.0
PetalWidthCm     0.1
dtype: float64

In [353]:
# MAXIMUM
setosa[num_cols].max()

SepalLengthCm    5.8
SepalWidthCm     4.4
PetalLengthCm    1.9
PetalWidthCm     0.6
dtype: float64

In [354]:
# MEAN
setosa[num_cols].mean()

SepalLengthCm    5.006
SepalWidthCm     3.418
PetalLengthCm    1.464
PetalWidthCm     0.244
dtype: float64

In [355]:
# MEDIAN
setosa[num_cols].median()

SepalLengthCm    5.0
SepalWidthCm     3.4
PetalLengthCm    1.5
PetalWidthCm     0.2
dtype: float64

In [356]:
# MODE
setosa[num_cols].mode()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.0           3.4            1.5           0.2
1            5.1           NaN            NaN           NaN

In [357]:
# STANDARD DEVIATION
setosa[num_cols].std()

SepalLengthCm    0.352490
SepalWidthCm     0.381024
PetalLengthCm    0.173511
PetalWidthCm     0.107210
dtype: float64

In [358]:
# QUANTILE - 25%
setosa[num_cols].quantile(0.25)

SepalLengthCm    4.800
SepalWidthCm     3.125
PetalLengthCm    1.400
PetalWidthCm     0.200
Name: 0.25, dtype: float64

In [359]:
# QUANTILE - 50%
setosa[num_cols].quantile(0.50)

SepalLengthCm    5.0
SepalWidthCm     3.4
PetalLengthCm    1.5
PetalWidthCm     0.2
Name: 0.5, dtype: float64

In [360]:
# QUANTILE - 75%
setosa[num_cols].quantile(0.75)

SepalLengthCm    5.200
SepalWidthCm     3.675
PetalLengthCm    1.575
PetalWidthCm     0.300
Name: 0.75, dtype: float64

In [361]:
# COUNT
setosa[num_cols].count()

SepalLengthCm    50
SepalWidthCm     50
PetalLengthCm    50
PetalWidthCm     50
dtype: int64